<!DOCTYPE html>
<html>

<head>
  <title>Ground List</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>

<body>
  {% include "admin_user/menu.html" %}
  {% for ground in grounds %}
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <h1><span>Ground :</span> <span>{{ ground.6 }}</span></h1>
    </div>
    <div class="col-lg-8 col-sm-12 d-flex align-items-center">
      <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalAddPitch">Add New Pitch</button>
    </div>
  </div>

  <div class="modal fade" id="modalAddPitch" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Pitch</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="ground_id" id="ground_id" value="{{ground.0}}">
          <div class="mb-3">
            <label for="formFile" class="form-label">Pitch Type</label>
            <select class="form-select" id="pitch_type" aria-label="Default select example">
              <option selected value="">Open pitch type</option>
              <option value="main">Main</option>
              <option value="practice">Practice</option>
            </select>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnaddpitch">Add</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <table class="table table-bordered text-center">
    <caption class="caption-top text-center text-white bg-success py-2">Main/Center Pitches</caption>
    <tr>
      
      <th>Pitch Type</th>
      <th>Pitch No</th>
      <th>Ground Id</th>
      <th>Actions</th>
    </tr>




    {% for pitch in pitches %}
    {% if pitch.5 == "main" %}
    <tr style="text-align:center">
     
      <td class="text-capitalize"> {{ pitch.5 }}</td>
      <td>{{ pitch.4 }}</td>
      <td> {{ pitch.2 }}</td>
      <td> <a href="/usr_admin/edit_pitch/{{ pitch.0 }}/{{pitch.2}}">Edit</a></td>
    </tr>
    {% endif %}
    {% endfor %}


  </table>
  <table class="table table-bordered text-center mt-3">
    <caption class="caption-top text-center text-white bg-primary py-2">Practice Pitches</caption>
    <tr>
    
      <th>Pitch Type</th>
      <th>Pitch No</th>
      <th>Ground Id</th>
      <th>Actions</th>
    </tr>




    {% for pitch in pitches %}
    {% if pitch.5 == "practice" %}
    <tr style="text-align:center">
     
      <td class="text-capitalize"> {{ pitch.5 }}</td>
      <td>{{ pitch.4 }}</td>
      <td> {{ pitch.2 }}</td>
      <td> <a href="/usr_admin/edit_pitch/{{ pitch.0 }}/{{pitch.2}}">Edit</a></td>
    </tr>
    {% endif %}
    {% endfor %}


  </table>
</body>
<script>
  $(document).ready(function () {
    $("#btnaddpitch").click(function () {
      const pitch_type = $("#pitch_type").val();
      if (pitch_type) {
        $.ajax({
          url: '{% url "add_pitch" %}',
          method: "post",
          data: { "pitch_type":pitch_type,"ground_id":$("#ground_id").val().trim()},
                 success: function (data) {
            console.log("success")
          }
        });
      }
      else {
        alert("save failed..")
      }
    })

  })
</script>

</html>