<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ground List Vertical Report</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        a {
            font-size: 70% !important;
        }
    </style>
</head>

<body>
    {% include "admin_user/menu.html" %}
    <div class="container my-4">
        <!--        <h1 class="text-center mb-4">Ground List</h1>-->
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Field Number</th>
                    {% for ground in grounds %}
                    <th>Ground {{ forloop.counter }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="color:blue"><b>Ground Pitches</b></td>
                    {% for ground in grounds %}
                    <td>
                        <div class="d-flex justify-content-around"> <a
                                href="/usr_admin/ground_pitches/{{ground.0}}">Click for <b>Pitches</b></a>

                            <a class="btn btn-success mx-2" href="{% url 'update_ground_master' ground.0 %}">UPDATE
                                GROUND</a>
                            <button class="btn btn-danger del-btn" dataid="{{ground.0}}">DELETE GROUND</button>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>1 Ground Name</td>
                    {% for ground in grounds %}
                    <td>{{ ground.6 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>2 Location</td>
                    {% for ground in grounds %}
                    <td>State {{ ground.8 }}, State Code {{ ground.7 }} City Name {{ ground.9 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>3 Main Pitches</td>
                    {% for ground in grounds %}
                    <td>{{ ground.10 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>4 Practice Pitches</td>
                    {% for ground in grounds %}
                    <td>{{ ground.11 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>5 Is Side Screens</td>
                    {% for ground in grounds %}
                    <td>{{ ground.12 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>6 Is Broadcasting Facility</td>
                    {% for ground in grounds %}
                    <td>{{ ground.15 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>7 Is Irrigation Pitches</td>
                    {% for ground in grounds %}
                    <td>{{ ground.15 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>8 Hydrants</td>
                    {% for ground in grounds %}
                    <td>{{ ground.16 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>9 Pumps</td>
                    {% for ground in grounds %}
                    <td>{{ ground.17 }}</td>
                    {% endfor %}
                </tr>
               
                <tr>
                    <td>11 Is Lawn Nursery</td>
                    {% for ground in grounds %}
                    <td>{{ ground.19 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>12 Centre Square</td>
                    {% for ground in grounds %}
                    <td>{{ ground.20 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>13 Is Curator Room</td>
                    {% for ground in grounds %}
                    <td>{{ ground.21 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>14 Is Separate Practice Area</td>
                    {% for ground in grounds %}
                    <td>{{ ground.22 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <!-- <tr>
                    <td>15 Outfield</td>
                    {% for ground in grounds %}
                    <td>{{ ground.23 }}</td>
                    {% endfor %}
                </tr> -->
                <tr>
                    <td>16 Outfield Profile</td>
                    {% for ground in grounds %}
                    <td>{{ ground.24 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>17 Lawn Species</td>
                    {% for ground in grounds %}
                    <td>{{ ground.25 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>18 Is Drainage System</td>
                    {% for ground in grounds %}
                    <td>{{ ground.26 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>19 Is Water Drainage</td>
                    {% for ground in grounds %}
                    <td>{{ ground.27 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>20 Is Irrigation System</td>
                    {% for ground in grounds %}
                    <td>{{ ground.28 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>21 Is Water Availability</td>
                    {% for ground in grounds %}
                    <td>{{ ground.29 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>22 Is Water Source</td>
                    {% for ground in grounds %}
                    <td>{{ ground.30 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>23 Storage Capacity</td>
                    {% for ground in grounds %}
                    <td>{{ ground.31 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>24 Pop Ups</td>
                    {% for ground in grounds %}
                    <td>{{ ground.32 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>25 Pump Size</td>
                    {% for ground in grounds %}
                    <td>{{ ground.33 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>26 Is Automation</td>
                    {% for ground in grounds %}
                    <td>{{ ground.34 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>27 Is Ground Equipment</td>
                    {% for ground in grounds %}
                    <td>{{ ground.35 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>28 Is Maintenance Contract</td>
                    {% for ground in grounds %}
                    <td>{{ ground.36 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>29 Is Maintenance Agency</td>
                    {% for ground in grounds %}
                    <td>{{ ground.37 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>30 Boundary Size</td>
                    {% for ground in grounds %}
                    <td>{{ ground.38 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>31 Is MOT Availability</td>
                    {% for ground in grounds %}
                    <td>{{ ground.39 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>32 Is Machine Shed</td>
                    {% for ground in grounds %}
                    <td>{{ ground.40 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>33 Is Soil Shed</td>
                    {% for ground in grounds %}
                    <td>{{ ground.41 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>34 Is Pitch/Run Up Covers</td>
                    {% for ground in grounds %}
                    <td>{{ ground.42 | yesno:"Yes,No" }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>35 Cover Size</td>
                    {% for ground in grounds %}
                    <td>{{ ground.43 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Google Location</td>
                    {% for ground in grounds %}
                    <td><a href="{{ ground.2 }}" target="_blank">{{ ground.2 }}</a></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Year of Construction</td>
                    {% for ground in grounds %}
                    <td>{{ ground.3 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Phone Numbers</td>
                    {% for ground in grounds %}
                    <td>{{ ground.4 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Slop Ratio</td>
                    {% for ground in grounds %}
                    <td>{{ ground.5 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Screen Size</td>
                    {% for ground in grounds %}
                    <td>{{ ground.46 }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        changeMenuTitle("Ground List")
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function deleteGP(dailyId) {
            if (confirm('Are you sure you want to delete this Ground Record,\nIt will delete all pitches also?')) {
                axios.delete(`/usr_admin/delete_ground_master/${dailyId}`)
                    .then(function (response) {
                        // fetchScores("{{match.0}}");
                        if (response.data.status) {
                            alert('Ground and all pitches are deleted successfully!');
                            // Refresh the scores list
                        }
                        else
                        {
                            alert(response.data.msg)
                        }

                    })
                    .catch(function (error) {
                        console.error('Error deleting Ground and pitches:', error);
                    });
            }
        }


        $(document).ready(function () {

            $(".del-btn").on('click', function (event) {
                event.preventDefault();
                // alert($(this).attr('dataid').trim())
                deleteGP($(this).attr('dataid').trim());
            })

        })

    </script>
</body>

</html>


