<!DOCTYPE html>
<html>
<head>
    <title>Machinery List</title>
    <style>
         th,td,a,button
       {
            font-size: 70% !important;
        }
    </style>
</head>
<body>
 {% include "admin_user/menu.html" %}
<!--    <h2>Machinery List</h2>-->
 <div class="container my-4">
    <table border="1" class="table table-bordered table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>Equipment Name</th>
            <th>Type</th>
            <th>Specification</th>
            <th>Unit</th>
            <th>Value</th>
            <th>Equipment Model</th>
            <th>Print details</th>
            <th>Actions</th>
        </tr>
        {% for machinery in machinery %}
        <tr>
            <td>{{ machinery.0 }}</td>
            <td>{{ machinery.1 }}</td>
            <td>{{ machinery.2 }}</td>
            <td>{{ machinery.3 }}</td>
            <td>{{ machinery.4 }}</td>
            <td>{{ machinery.5 }}</td>
            <td>{{ machinery.6 }}</td>
            <td>{{ machinery.7 }}</td>

            <td>
                <a class="btn btn-warning" href="{% url 'update_machinery' machinery.0 %}">Edit</a>
                <button class="btn btn-danger del-btn" dataid="{{machinery.0}}">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-danger" role="button" href="{% url 'insert_machinery' %}">Insert New Machinery</a>
     </div>
<script>
     changeMenuTitle("Machinery List")

     function deleteMachinery(matchId) {
            if (confirm('Are you sure you want to delete this Machinery record?')) {
                axios.delete(`/usr_admin/machinery/delete/${matchId}`)
                    .then(function (response) {
                        // fetchScores("{{match.0}}");
                        alert('Machinery deleted successfully!');
                        // Refresh the scores list

                        location.reload();

                    })
                    .catch(function (error) {
                        console.error('Error deleting Machinery:', error);
                    });
            }
        }


        $(document).ready(function () {

            $(".del-btn").on('click', function (event) {
                event.preventDefault();
                // alert($(this).attr('dataid').trim())
                deleteMachinery($(this).attr('dataid').trim());
            })

        })
</script>
</body>
</html>
