  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="btn btn-dark">
            <i class="bi bi-list"></i>
          </button>
          <div class="ms-auto">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown">
                  <i class="bi bi-person-circle"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      
<script>
  function changeMenuTitle(title) {
    document.querySelector("#menu-page-title").innerHTML = title
  }


  //    const apiKey = '6f919945bd6b08c5af322b846504f85d'; // Replace with your OpenWeatherMap API key
  //const city = 'Nagpur'; // Replace with your desired city
  //
  //async function getWeather() {
  //    const response = await fetch(`api.openweathermap.org/data/2.5/weather?q=${city},in&APPID=09d6e1a7dc7e8cef23659b6fcf590850
  //`);
  //    const data = await response.json();
  //
  //    if (response.ok) {
  //        const weatherDescription = data.weather[0].description;
  //        const minTemp = data.main.temp_min;
  //        const maxTemp = data.main.temp_max;
  //
  //        console.log(`Weather today in ${city}: ${weatherDescription}`);
  //        console.log(`Temperature: Min ${minTemp}°C, Max ${maxTemp}°C`);
  //    } else {
  //        console.error('Error fetching weather data:', data.message);
  //    }
  //}


  function openMachineryModal(modalType) {
    axios.get("{% url 'machinery_data' %}")
      .then((result) => {
        const machineryList = document.getElementById('machineryList');
        machineryList.innerHTML = ""; // Reset list
        const groupedMachinery = {};

        // Group by equipment_name, then by type, and model within each type
        result.data.forEach((machine) => {
          if (!groupedMachinery[machine.equipment_name]) {
            groupedMachinery[machine.equipment_name] = {};
          }
          if (!groupedMachinery[machine.equipment_name][machine.type]) {
            groupedMachinery[machine.equipment_name][machine.type] = [];
          }
          groupedMachinery[machine.equipment_name][machine.type].push(machine);
        });

        // Generate table rows
        Object.keys(groupedMachinery).forEach((equipmentName) => {
          // Equipment Name Row
          const equipmentRow = document.createElement('tr');
          equipmentRow.className = "category";
          equipmentRow.innerHTML = `<td colspan="5" class="text-dark">${equipmentName}</td>`;
          machineryList.appendChild(equipmentRow);

          const types = groupedMachinery[equipmentName];
          Object.keys(types).forEach((type) => {
            // Skip type if it's "NA"
            if (type === "NA") return;

            // Type Row
            const typeRow = document.createElement('tr');
            typeRow.className = "subcategory";
            typeRow.innerHTML = `<td colspan="5" class="text-dark">${type}</td>`;
            machineryList.appendChild(typeRow);

            // Model Rows
            types[type].forEach((machine) => {
              // Skip rows where all fields are "NA"
              if (
                (machine.model === "NA" || !machine.model) &&

                (machine.value === "NA" || !machine.value) &&
                (machine.unit === "NA" || !machine.unit)
              ) {
                return; // Skip this entry
              }

              const modelRow = document.createElement('tr');
              modelRow.className = "item-row";

              // Dynamically populate columns, skipping "NA"
              modelRow.innerHTML = `
            <td></td>
            <td>${machine.print_details}</td>
         
          
        `;
              modelRow.style.cursor = "pointer";

              // Click Event to set the selected machinery
              modelRow.onclick = function () {

                if (modalType == "out_roller") {
                  document.getElementById('out_machinery_id').value = machine.id;
                  document.getElementById('out_machinery_name').value = `${machine.equipment_name} - Type: ${machine.print_details}`;
                } 
                else if (modalType == "roller") {
                  document.getElementById('machinery_id').value = machine.id;
                  document.getElementById('machinery_name').value = `${machine.equipment_name} - Type: ${machine.print_details}`;
                } 
                else if (modalType == "practice_roller") {
                  document.getElementById('practice_machinery_id').value = machine.id;
                  document.getElementById('practice_machinery_name').value = `${machine.equipment_name} - Type: ${machine.print_details}`;
                } 
                else if (modalType == "out_mover") {
                  document.getElementById('out_mover_machinery_id').value = machine.id;
                  document.getElementById('out_mover_machinery_name').value = `${machine.equipment_name} - Type: ${machine.print_details}`;
                } 
                else if (modalType == "mover") {
                  document.getElementById('mover_machinery_id').value = machine.id;
                  document.getElementById('mover_machinery_name').value = `${machine.equipment_name} - Type: ${machine.print_details}`;
                }
                else if (modalType == "practice_mover") {
                  document.getElementById('practice_mover_machinery_id').value = machine.id;
                  document.getElementById('practice_mover_machinery_name').value = `${machine.equipment_name} - Type: ${machine.print_details}`;
                }
                 else if (modalType == "pp_roller") {
                  document.getElementById('pp_machinery_id').value = machine.id;
                  document.getElementById('pp_machinery_name').value = `${machine.equipment_name} - Type: ${machine.print_details}`;
                }
                 else if (modalType == "pp_mover") {
                  document.getElementById('pp_mover_machinery_id').value = machine.id;
                  document.getElementById('pp_mover_machinery_name').value = `${machine.equipment_name} - Type: ${machine.print_details}`;
                }
                
                

                $('#machineryModal').modal('hide');
              };

              machineryList.appendChild(modelRow);
            });
          });

        });

        // Show the modal
        $('#machineryModal').modal('show');
      })
      .catch((error) => {
        console.log("Error fetching machinery data:", error);
      });
  }


$(document).ready(function()
{
    //$("#home-tab").css("display","none")
    //$("#pp-tab").css("display","none")
    //$("#profile-tab").css("display","none")
    //$("#practice-tab").css("display","none")
    //$("#myTabContent").css("display","none")
    //$("#btnDailySubmit").css("display","none")
    function changeTabs(checkboxes,disabled)
    {
        
        if(!disabled)
        {
            //alert("not disabled")
            $("#myTabContent").css("display","block")
            
        }
        else
        {
            //alert("disabled")
            $("#myTabContent").css("display","block")
        }
    }
    
    function checkboxesTabs()
    {
        
    }
    
    $("#pitch_id").change(function(){
        const checkboxes=$(".checkboxes").find("[type='checkbox']")
        
        $(checkboxes).on("change",checkboxesTabs)
        
        const pitch_location=$("#pitch_location").val().trim()
        // if(this.options[this.selectedIndex].text.indexOf("all")>-1)
        // {
        //     checkboxes.prop("disabled",false)
        //     changeTabs(checkboxes,false)
        // }
        // else
        // {
        //     checkboxes.prop("disabled",true)
        //     changeTabs(checkboxes,true)
        // }
        
    })
    
    
    
})



</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>